.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 10px;
}

fieldset {
  border: none;
  width: 320px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px; 
}
.select{
  overflow-y: auto;
  width: 300px;
  outline: none;
  padding: 8px;
  max-height: 40px;
}
.input{
    margin: 10px;
    width: 310px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-background);
    color: var(--color-title);
    font-size: 20px;
    padding: 10px;
}

label {
  margin-bottom: 20px; 
}
.total{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.divButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button{
    background-color: var(--color-primary);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.button :focus{
  color: var(--focus-color-button);
}

.button:hover {
  background-color: var(--hover-color-button);
}

