.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}
.title {
  width: 300px;
  margin: 20px;
  font-size: 50px;
  font-family: var(--font-settings);
}

.button{
    background-color: var(--color-primary);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.button :focus{
  color: var(--focus-color-button);
}

.button:hover {
  background-color: var(--hover-color-button);
}



