.form {
    background-color: white;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 150px;
}
.fieldset{
    padding: 10px;
}
.legend{
    padding-top: 20px;
    margin: auto;
}

.input {
    margin: 10px;
    width: 310px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-background);
    color: var(--color-title);
    font-size: 20px;
    padding: 10px;
  }
.input:focus{
    color: var(--color-primary);
  }

  .buttonDispotition{
    display: flex;
    justify-content: center;

  }

.button{
    background-color: var(--color-primary);
    width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.button :focus{
    color: var(--focus-color-button);
  }
  
  .button:hover {
    background-color: var(--hover-color-button);
  }