.signUp {
  background-color: var( --color-background);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 360px;
  height: 840px;
  border-radius: 15px;
  border: 2px solid var(--color-primary);
}

.img {
  width: 80px;
  position: relative;
  left: 135px;
  top: 60px;
  border-radius: 20px;
}

.title {
  font-family: var(--font-settings);
  font-weight: var(--font-weight);
  font-size: var(--font-size-title);
  color: var(--color-title);
  margin: 10px;
}

.paragraph {
  color: var(--color-primary);
  font-size: 14px;
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  gap: 20px;
}

.form input {
  background-color: var(--input-color-background);
  border-radius: 0.3rem;
  color: var(--color-secondary);
  height: 40px;
  width: 240px;
  padding: 0 40px 0 10px;
}

.button {
  background-color: var(--color-primary);
  width: 220px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-color);
}

.showHide {
  position: relative;
  bottom: 215px;
  left: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.paragraphLogIn {
  color: var(--color-primary);
  font-size: 15px;
  margin: 10px;
  padding: 10px 30px;
}
.span{
  cursor: pointer;
}

.span:hover{
  color: var(--hover-color-link);
  cursor: pointer;
}
